html {
  border: 20px soli lightgrey;
}

.title {
  text-align: center;
}

.column {
  float: left;
  width: 50%;
  align-content: center;
  text-align: center;
  row-gap: 50px;
  white-space: nowrap;
}

.row:after {
  float: right;
  content: "";
  width: 50%;
  align-content: center;
}

.titlefont {
  font-size: 15px;
}

.article {
  background-color: antiquewhite;
}
